# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8000/api/v1
NEXT_PUBLIC_SUPABASE_URL=https://cmrjhjtpdtcoduximxkg.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=

# Backend
APP_ENV=development
DATABASE_URL=postgresql+psycopg://postgres:[PASSWORD]@db.cmrjhjtpdtcoduximxkg.supabase.co:5432/postgres
SUPABASE_URL=https://cmrjhjtpdtcoduximxkg.supabase.co
SUPABASE_JWT_SECRET=
SUPABASE_SERVICE_ROLE_KEY=
CORS_ORIGINS=http://localhost:3000
LOG_LEVEL=INFO
STORAGE_BUCKET=bizpilot-assets
